<p style="color: green"><%= notice %></p>

<h1>Livros</h1>

<div id="livros">
  <% @livros.each do |livro| %>
    <%= render livro %>
    <p>
      <%= link_to "Veja este livro", livro %>
    </p>
    <p> ________________________________________________________________________________________________</p>
  <% end %>
</div>

<%= link_to "Novo livro", new_livro_path %>
